@import-normalize; /* bring in normalize.css styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar .ul {
  display: flex;
  list-style-type: none;
  padding-top: 2%;
}

.navbar li {
  flex-basis: auto;
  flex-grow: 1;
  padding-right: 10px;
  padding-left: 10px;
  border-right: solid 1px;
}

.navbar li:first-child {
  padding-left: 0;
}

.navbar li:last-child {
  border-right: none;
}

.home {
  text-align: justify;
}

.home h2 {
  text-align: center;
}

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 992px) {
  .navbar li {
    border-right: none;
  }

  .navbar .ul {
    width: 20%;
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  body {
    display: flex;
    justify-content: center;
    align-content: center;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    padding-top: 0;
    margin-bottom: 10px;
  }
}
